@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.App{
  font-family: 'Caveat', cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://static.vecteezy.com/system/resources/previews/003/245/520/non_2x/the-white-flowers-in-the-spring-tone-beautiful-flowers-in-nature-free-photo.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow-x: hidden;

}
.heading{
  display: flex;
  
  align-items: center;
  font-size: 40px;
  color: white;
  text-align: center;
  z-index: 2;
  margin: 30px 0;
  text-transform: uppercase;
  border-bottom: 2px solid white;

}
.header-icon{
  margin-right:20pxstart;
}